@import '../../app/globals.scss';

.live-car-status {
    height: 100vh;
    padding: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;


    @media screen and (max-width: 768px) {
        width: 100%;
    }

    .header {
        display: flex;
        gap: clamp(1rem, -2.0638rem + 6.383vw, 2.5rem);
        justify-content: end;
        align-items: center;

        .notifications {
            cursor: pointer;
            width: clamp(1.25rem, 0.9783rem + 1.087vw, 1.5rem);

            &:hover {
                filter: opacity(0.8);
            }
        }

        .search-bar {
            position: relative;
            
            input {
                padding: 12px clamp(2.25rem, 0.7554rem + 5.9783vw, 3.625rem) 12px clamp(1.5rem, 0.9565rem + 2.1739vw, 2rem);
                width: clamp(12.5rem, 7.1289rem + 17.1875vw, 19.375rem);
                border-radius: 12px;
                border: none;
                box-shadow: 0px 2.703092575073242px 27.030925750732422px 0px #4545501A;
                height: 48px;

                &:focus {
                    &::placeholder {
                        opacity: 0;
                        transition: opacity 0.3s ease;
                    }
                }
            }

            .search-icon {
                position: absolute;
                top: 0;
                bottom: 0;
                width: clamp(1.25rem, 0.9783rem + 1.087vw, 1.5rem);;
                margin: auto 0;
                right: clamp(1rem, 0.4565rem + 2.1739vw, 1.5rem);
                cursor: pointer;
            }
        }
    }
}